* {
  font-family: 'Alegreya Sans', sans-serif;
  box-sizing: border-box;
}

h2 {
  font-family: 'Fascinate', cursive;
}

#nav {
  display: flex;
  justify-content: space-around;
}

#nav a {
  text-decoration: none;
}
