* {
  font-family: 'Alegreya Sans', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2,h3 {
  font-family: 'Fascinate', cursive;
}

#nav {
  display: flex;
  justify-content: space-around;
}

#nav a {
  text-decoration: none;
}

/* styles for all campuses view */
#all-campuses {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#all-campuses li {
  border: 1px solid red;
  margin: 5px;
  width: calc(50% - 1rem);
  display: flex;
  justify-content: space-between;
}

#all-campuses li>div {
  width: 50%;
  padding: 10px;
}

.graphic img {
  max-width: 100%;
}

/* styles for students view */

#all-students {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#all-students li {
  border: 1px solid red;
  margin: 5px;
  width: calc(25% - 1rem);
  display: flex;
  justify-content: space-between;
}

#all-students li>div {
  width: 50%;
  padding: 10px;
}

/* styles for the single campus view */
#single-campus {
  display: flex;
}

#single-campus > div {
  width: 50%;
  border: 1px solid red;
}

.single-campus-info > img {
  max-width: 90%;
}

.student-list>ul {
  list-style: none;
  border: 1px solid blue;
  padding: 10px;
}

/* styles for single student view */
#single-student {
  display: flex;
}

#single-student>div {
  width: 50%;
}

#single-student img {
  max-width: 50%;
}

