* {
  font-family: 'Alegreya Sans', sans-serif;
  box-sizing: border-box;
  color: #1f3034;
}

body {
  margin: 0;
  background-color: #D8DCDA;
}

#content {
  background-color:#FCFBFB;
}

a {
  text-decoration: none;
}

h1,h2,h3 {
  font-family: 'Fascinate', cursive;
  color: #1f3034;
}

/* style for nav bar */

#nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

#nav a {
  text-decoration: none;
}

#nav>li {
  width: calc(100% / 3);
  text-align: center;
  margin: 0;
}

#nav .selected {
  background-color: #FCFBFB;
  border-radius: 15px 15px 0 0;
  box-shadow: #a6aeaa 5px -8px 10px;
}

.selected h1 {
  color:#FCFBFB;
  text-shadow: #566361 1px 0 10px;
}

#display {
  display: flex;
  background-color: #FCFBFB;
}

/* styles for all campuses view */
#all-campuses {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#all-campuses li {
  border: 1px solid #384949;
  border-radius: 10px;
  margin: 5px;
  width: calc(50% - 1rem);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#all-campuses li>div {
  width: 100%;
  height: 350px;
  padding: 10px;
}

.info p {
  color: #1f3034;
  padding-left: 15px;
}

.info {
  display: inline-block;
  position: relative;
}

.info .graphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #695CCE;
  opacity: 0;
  text-align: center;
}

.info:hover .graphic {
  opacity: 0.9;
}


#all-campuses li>button {
  width: 100%;
  height: 40px;
  padding: 10px;
}

.graphic img {
  max-width: 100%;
  object-fit: cover;
  padding-top: 5px;
}

.graphic {
  border-radius: 10px 10px 0 0;
}

#all-campuses li>button {
  border-radius: 0 0 10px 10px;
  border: 0;
  background-color: #384949;
  color: #e6e4e1;
  font-size: 15px;
}

/* styles for adding campus and student*/
#add-campus, #add-student {
  border: 1px solid green;
  width: 90%;
  margin: auto;
  padding: 10px;
}

#add-campus form {
  display: flex;
  justify-content: space-evenly;
}

#add-student form {
  display: flex;
  justify-content: space-evenly;
}


/* styles for students view */

#all-students {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#all-students li {
  border: 1px solid red;
  margin: 5px;
  width: calc(50% - 1rem);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#all-students li>div {
  width: 50%;
  padding: 10px;
}

#all-students li>button {
  width: 100%;
  padding: 10px;
}

/* styles for the single campus view */
#single-campus {
  display: flex;
}

#single-campus > div {
  width: 50%;
  border: 1px solid red;
}

.single-campus-info > img {
  max-width: 90%;
}

.student-list>ul {
  list-style: none;
  border: 1px solid blue;
  padding: 10px;
}

#edit-campus {
  border: 1px solid green;
  width: 90%;
  margin: auto;
  padding: 10px;
}

#edit-campus form {
  display: flex;
  justify-content: space-evenly;
}

/* styles for single student view */
#single-student {
  display: flex;
}

#single-student>div {
  width: 50%;
}

#single-student img {
  max-width: 50%;
}

#edit-student {
  border: 1px solid green;
  width: 90%;
  margin: auto;
  padding: 10px;
}

#edit-student form {
  display: flex;
  justify-content: space-evenly;
}

/* style for filters */

#view-controls {
  background-color: #ede9e3;
  width: 30%;
  display: flex;
  flex-direction: column;
}

#view-controls h3 {
  padding-left: 20px;
  margin-bottom: 0;
}

#view-controls li {
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
  height: 35px;
  padding-left: 5px;
  border-radius: 5px 0 0 5px;
}

#filters {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#filters .active {
  background-color: #a6aeaa;
}

.active::after {
  content: ' ✔️';
}

#sorting {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#sorting .active {
  background-color: #8e7a8e;
}

/* Style for error */
#error {
  width: 40%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #566361;
  height: 200px;
  padding: 10px;
  border-radius: 15px;
}

#error h3,p {
  color: #e6e4e1;
}

#error p {
  font-size: 20px;
}
