.gap-10{
  width: 100%;
  height: 20px;
}

.gap-20 {
  width: 100%;
  height: 20px;
}

.gap-nav {
  width: 100%;
}

hr{
  border: solid black 1px;
}

h1 {
  color: #06716e;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.submit-btn {
  width: 10%;
  height: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  color: black;
  border: solid black 2px;

}

img{
  width: 40%;
  height: 30%;
  border: solid black 2px;
}

ul {
  list-style-type: none;
 }

.main-nav {
  margin-top: 10%;
  border: solid black 2px;
  color: white;
  font-size: large;
  font-weight: normal ;
  text-decoration: none;
  background-color: #06716e;
  width: 15em;
}

.main-nav:hover {
  color: gray;
}

.nav-bar {
  margin-right: 5%;
}


.styled-link {
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.img-single-meal{
  height: 15%;
  width: 15%;
}
